Django>=3.2,<4
djangorestframework>=3.12
openapi-spec-validator
requests
click
pytest
openai
pytest-django
pylint
black
bandit
requests
mypy
langchain
python-dotenv
twine>=3.4.0
wheel>=0.36.2
setuptools>=49.6.0
click>=7.1.2
